// --- Input Configuration ---
input {
    focus-follows-mouse max-scroll-amount="50%"
    keyboard {
        xkb {
            layout "ee"
        }
        numlock
        repeat-delay 250
        repeat-rate 50
    }
    touchpad {
        tap
        tap-button-map "left-right-middle"
        click-method "clickfinger"
        natural-scroll
    }
    mouse {
      accel-profile "flat"
      accel-speed 0.4
    }
}
